@import "https://fonts.googleapis.com/css?family=Roboto+Mono:500";

body{
    background-color: rgb(24, 24, 24);
    margin: 0 9% 0 9%;
    font-family: "Roboto Mono", monospace;
    
}
.title{
    width: 1000px;   
    margin-top: 150px;
    color: white;
    font-size: 4rem;
    font-weight: bolder;
}
#first{
    background-color:#20C20E;
    color:rgb(255, 255, 255);
    border: none;
}
.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.container {
    top: 0;
    width: 800px;
    display: flex;
    column-gap: 20px;
    height: 80px;
    font-size: 1.8rem;
    color: #20C20E;
}
.avatar{
    margin-top: -100px;
    display: flex;
    align-items: center;
    width: 40%;
}
.avatar img{
    width: 400px;
    height: 400px;
    border-radius: 200px; 
}
.top {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 2.2rem;
}

.line{
    border-radius: 20px;
    border: rgb(66, 66, 66) solid 2px;
    margin-top: 50px;
    width: 100%;
}
button {
    background:local;
    color: white;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.4em;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(5px,-5px);
    box-shadow: -2px 3px;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
.section{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.name_section{
    color: white;
    font-size: 2rem;
    width: 30%;
}
.content{
    padding-top: 20px;
    font-size: 1.2rem;
    color: white;
    width: 70%;
    height: auto;
}
.links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    gap: 20px;
    margin-top: 15px;
}
a{
    text-decoration:underline;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
}
#contact{
    padding-top: 0;
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;

}
button img{
    width: 50px;

}
.link button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    padding: 35px;
    border-radius: 60px;
    background-repeat: no-repeat;
    background-size:auto;
}
#tg{
    margin-right: 7px;
}
#linkedin{
    width: 40px;
}
#card1{
    background-image: url(./img/card1.webp);
}
#card2{
    background-image: url(img/card2.webp);
}
#card3{
    background-image: url(img/card3.webp);
}
#card4{
    background-image: url(img/card4.webp);
}
.image{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 9px;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 45%;
    border: solid 2px white;
    padding: 10px;
    border-radius: 20px;
}
.info{
    margin-top: 5px;
    font-size: 0.8rem;
}
.card button{
    width: 40%;
}
#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}


@media screen and (max-width:700px) {
    .title{
        font-size: 1.4rem;
        width: 100%;
    }
    .top{
        flex-direction: column;
    }
    .container{
        width: 100%;
        font-size: 0.37em;
        display: flex;
        column-gap: 20px;
    }
    .avatar{
        display: none;
    }
    .avatar img{
        width: 200px;
        height: 200px;
        border: solid 2px;
    }
    .buttons{
        width: 100%;
        flex-direction: column;
        row-gap: 5px;
    }
    .section{
        flex-direction: column;
    }
    .name_section{
        width: 100%;
        text-align: center;
    }
    .content{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    #contact{
        text-align: center;
        width: 100%;
    }
    #contact a{
        font-size: 1.2em;
    }
    .link{
        width: 70px;
        font-size: 0.7em;
    }
    .links{
        justify-content: space-between;
    }

}
